
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px; /* Added for horizontal scrollbar height */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  border: 1px solid #000;
  border-radius: 50px;
  background-color: transparent; 
}

/* Vertical Scrollbar Arrows */
::-webkit-scrollbar-button:single-button:decrement {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='black'%3E%3Cpolygon points='50,20 90,80 10,80'/%3E%3C/svg%3E") no-repeat center;
  color: #000;
  border: none;
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-button:single-button:increment {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='black'%3E%3Cpolygon points='50,80 90,20 10,20'/%3E%3C/svg%3E") no-repeat center;
  color: #000;
  border: none;
  height: 12px;
  width: 12px;
}

/* Horizontal Scrollbar Arrows */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='black'%3E%3Cpolygon points='20,50 80,10 80,90'/%3E%3C/svg%3E") no-repeat center;
  color: #000;
  border: none;
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='black'%3E%3Cpolygon points='80,50 20,10 20,90'/%3E%3C/svg%3E") no-repeat center;
  color: #000;
  border: none;
  height: 12px;
  width: 12px;
}



